<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="project1" src="{{ "/assets/img/project1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Egyptian Car Plates Numbers Recognition </h3>
    <ul>
      <li> DeepLearning</li>
      <li> Computer Vision</li>
      <li> Convolutional Neural Networks</li>
      <li> Recurrent Neural Networks</li>
      
    </ul>
    <p>Recognizing car plates numbers in Egypt using deep learning techniques. The project is based on the paper "An End-to-End Trainable Neural Network for Image-based Sequence Recognition and Its Application to Scene Text Recognition"</p>
    <a class="project-link" href="https://github.com/AbdelrhmanNile/egy-cars-plates-reader">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/project2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SkyNix - A Linux Tutor & Assistant </h3>
    <ul>
      <li> Large Language Models (GPT-J/GPT-NEO/CODEGEN)</li>
      <li> Natural Language Processing</li>
      <li> Prompt Engineering</li>
      <li> Linux</li>
    </ul>
    <p>Although Linux is a very powerful operating system, it is not very user-friendly. SkyNix is a Linux tutor and assistant that helps you learn Linux and automate some of your daily tasks.</p>
    <a class="project-link" href="https://github.com/AbdelrhmanNile/skynix">Check it out</a>
  </div>
</div>
